/* Notes for editing:
   When using an attribute that can specify a side (like 'margin'), use the 'shorthand' for the code instead.
   Example: 'margin: W X Y Z;' where W=Top, X=Right, Y=Bottom, and Z=Left
     margin:25px 50px 75px 100px;
       top margin is 25px
       right margin is 50px
       bottom margin is 75px
       left margin is 100px

     margin:25px 50px 75px;
       top margin is 25px
       right and left margins are 50px
       bottom margin is 75px

     margin:25px 50px;
       top and bottom margins are 25px
       right and left margins are 50px

     margin:25px;
       all four margins are 25px
 */

/* Body */
body {
	background-color: #212121;
}

/* Left 'Panel' */
#leftofframe {
	z-index: 1;
	float: left;
	position: absolute;
	margin: 0;
	width: 272px;
	border: 1px none #D0D0D0;
	top: 3px;
	left: 7px;
}
#leftofframePad {
	z-index: 1;
	float: left;
	position: absolute;
	margin: 0;
	width: 115px;
	border: 1px none #D0D0D0;
	top: 3px;
	left: 7px;
}

#nav {
	font: 11px sans-serif;
	color: #CCC;
	padding: 5px;
	margin: 3px 3px 3px -1px;
	top: 24px;
	width: 245px;
	height: auto;
	border: thin solid #4D4D4D;
}
#nav strong {
	color: #FFCE0D;
	padding: 0 7px 0 7px;
}
#navPad {
	font-size: 11px;
	font-family: sans-serif;
	color: #CCC;
	padding: 5px;
	margin-left: 0;
	margin-right: 0px;
	top: 24px;
	width: 90px;
	height: auto;
	border: thin solid #4D4D4D;
	margin-top: 3px;
}
#navPad strong {
	color: #FFCE0D;
	padding: 0 7px 0 7px;
}

/* 'Panel' Buttons */
.classpanel {
	background-color: #212121;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 1px;
	border: 1px solid #4D4D4D;
	display: inline-block;
	color: #999;
	padding: 2px 12px;
	text-decoration: none;
}
.classpanel:hover {
    background-color: #FFCE0D;
    color: #333;
}
.classpanel:active {
    position: relative;
    top: 1px;
}

/* Top Navigation */
#navi {
    position: absolute;
    z-index: 10000;
    left: 272px;
    top: 6px;
}
#navi ul {
    font-size: 14px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
}
#navi ul li {
    display: block;
    position: relative;
    float: left;
}
#navi ul li a {
	display: block;
	text-decoration: none;
	color: #999;
	white-space: nowrap;
	background-color: #212121;
	border: 1px solid #4d4d4d;
	font: 10px bold sans-serif;
	margin-right: 4px;
	padding: 3px 7px 3px 7px;
}
#navi ul li a:hover {
    background-color: #FFCE0D;
    color: #333;
}
#navi li:hover ul {
    display: block;
    position: absolute;
}
#navi li:hover li {
    float: none;
    font-size: 11px;
}
#navi li:hover a {
    color: #666;
    background-color: #FFF;
    border-width: 1px 1px 1px 1px;
    border-style: none solid solid solid;
    border-color: #999;
    -webkit-box-shadow:  6px 6px 12px 4px rgba(0, 0, 0, .4);
    box-shadow:  6px 6px 12px 4px rgba(0, 0, 0, .4);
}
#navi li:hover li a:hover {
    background: #FFCE0D;
}
#navi li ul {
    display: none;
}
#naviPad {
    position: absolute;
    left: 115px;
    top: 6px;
}
#naviPad ul {
    font-size: 14px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
}
#naviPad ul li {
    display: block;
    position: relative;
    float: left;
}
#naviPad ul li a {
	display: block;
	text-decoration: none;
	color: #999;
	white-space: nowrap;
	background-color: #212121;
	border: 1px solid #4d4d4d;
	font-size: 10px;
	font-weight: bold;
	font-family: sans-serif;
	margin-right: 4px;
	padding-top: 3px;
	padding-right: 7px;
	padding-bottom: 3px;
	padding-left: 7px;
}
#naviPad ul li a:hover {
    background-color: #FFCE0D;
    color: #333;
}
#naviPad li:hover ul {
    display: block;
    position: absolute;
}
#naviPad li:hover li {
    float: none;
    font-size: 11px;
}
#naviPad li:hover a {
    color: #666;
    background-color: #FFF;
    border-width: 1px 1px 1px 1px;
    border-style: none solid solid solid;
    border-color: #999;
    -webkit-box-shadow:  6px 6px 12px 4px rgba(0, 0, 0, .4);
    box-shadow:  6px 6px 12px 4px rgba(0, 0, 0, .4);
}
#naviPad li:hover li a:hover {
    background: #FFCE0D;
}
#naviPad li ul {
    display: none;
}

/* iFrame Work Area */
iframe#ifrm {
    position: absolute;
    right: 0;
    top: 33px;
    border: 1px none #D0D0D0;
}

/* JSON Workaround */
#json {
    position: absolute;
    z-index: 10009;
    right: 2px;
    top: 2px;
}
iframe#jsonresponse {
    position: absolute;
    right: 5px;
    top: 2px;
    border: 1px none #D0D0D0;
    width: 75px;
    height: 25px;
}
